<header class="z-50 bg-white border-lg  border fixed bottom-0 xl:top-0 border-b-1 xl:h-20 h-16 w-full">
    <nav class="container mx-auto">
        <main class="flex justify-between">
            <section class="xl:block hidden">
                <a>
                    <img src="assets/imagen/logo/logo-tras.png" alt="logo" class="w-20 object-cover">
                </a>
            </section>
            <section class="mx-5 mx-auto xl:mx-0 w-ful text-center text-3xl xl:text-2xl xl:py-1">
                <ul class="grid grid-flow-col grid-cols-12 gap-4 xl:gap-6 ">
                    <li class="col-span-4 sm:col-span-7 md:col-span-8 lg:col-span-10 xl:col-span-2 py-5 block">
                        <div class="text-aply-400 hover:text-aply-100 transition duration-500 ease-in-out">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                            </svg>
                        </div>
                    </li>
                    <li class="col-span-4 sm:col-span-7 md:col-span-8 lg:col-span-10 xl:col-span-2 py-5  block">
                        <div class="text-aply-400 hover:text-aply-100 transition duration-500 ease-in-out">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </div>
                    </li>
                    <li class="col-span-4 sm:col-span-7 md:col-span-8 lg:col-span-10 xl:col-span-2 py-5  block">
                        <div class="text-aply-400 hover:text-aply-100 transition duration-500 ease-in-out">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                              </svg>
                        </div>
                    </li>
                    <li class="col-span-4 sm:col-span-7 md:col-span-8 lg:col-span-10 xl:col-span-2 py-5 block">
                        <div class="text-aply-400 hover:text-aply-100 transition duration-500 ease-in-out">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4" />
                              </svg>
                        </div>
                    </li>
                    <li class="col-span-4 sm:col-span-7 md:col-span-8 lg:col-span-10 xl:col-span-2 py-5 block">
                        <div class="text-aply-400 hover:text-aply-100 transition duration-500 ease-in-out">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                        </div>
                    </li>
                </ul>
            </section>
        </main>
    </nav>
</header>