<div>
    recovery word!
</div>
<!-- <div class="modal neon">
    <div class="modal-container max-w-lg">
        <div class="bg-degrado rounded-t-lg h-8"></div>
        <div class="w-4/5 mx-auto pt-3 pb-10  font-nuni">
            <div class="mb-10">
                <a [routerLink]="['/home']">
                    <img src="./assets/img/logo/log2-06.png" alt="" class="">
                </a>
            </div>


            <form class="grid grid-cols-1 md:grid-cols-12 gap-2 px-4 pt-5" id="loginForm" [formGroup]="emailForm" (ngSubmit)="emailMsg()" autocomplete="off">
                <div class="col-span-12 mb-8">
                    <h1 class="text-center text-md text-gray-700 font-bold font-mont">
                        ¿Haz olvidado tu contraseña?
                    </h1>
                </div>
                <div class="col-span-12 mb-8">
                    <label class="label-1">
                      Correo                        
                  </label>
                    <input type="email" class="sm:text-sm input-1" placeholder="Email" formControlName="email">
                    <div class="text-danger">
                        <p *ngIf="campoNoValido('email')">
                            El email es obligatorio y tiene que ser valido
                        </p>
                    </div>
                </div>


                <div class="col-span-12 text-center flex items-center space-x-4">
                    <button type="submit" class="rounded-full py-2 px-5 font-bold bg-primary-300 text-white shadow-lg hover:shadow-md w-full focus:outline-none">
                  Restablecer contraseña
                </button>
                    <span class="text-gray-900 mx-2">ó</span>
                    <a [routerLink]="['/login']" class="font-bold hover:underline px-2 w-1/2 cursor-pointer">
                        Iniciar sesión
                    </a>I
                </div>

            </form>

        </div>

        <div class="bg-degrado rounded-b-lg h-8"></div>

    </div>
</div> -->