<div class="container mx-auto">
    <div class="mx-5 my-8 xl:my-24 xl:mx-0">

        <div class="flex flex-col">

            <div class="flex justify-between items-center space-x-2">
                <a class="flex flex-col flex-1  p-6 bg-white shadow-2xl rounded-2xl content-center items-center cursor-pointer hover:shadow-none hover:bg-blue-50 ">
                    <div>
                        <img src="assets/imagen/perfil/profile-user.png" alt="" class="w-10 h-10">
                        <h4 class="font-bold text-dark-300 text-sm mt-1">Perfil</h4>
                    </div>
                </a>
                <a class="flex flex-col flex-1  p-6 bg-white shadow-2xl rounded-2xl content-center items-center cursor-pointer hover:shadow-none hover:bg-blue-50 ">
                    <img src="assets/imagen/perfil/descripcion-del-trabajo.png" alt="" class="w-10 h-10">
                    <h4 class="font-bold text-dark-300 text-sm mt-1">Servicios</h4>
                </a>
                <a class="flex flex-col flex-1  p-6 bg-white shadow-2xl rounded-2xl content-center items-center cursor-pointer hover:shadow-none hover:bg-blue-50 ">
                    <img src="assets/imagen/perfil/mensaje.png" alt="" class="w-10 h-10">
                    <h4 class="font-bold text-dark-300 text-sm mt-1">Reseñas</h4>
                </a>
                <a class="flex flex-col flex-1  p-6 bg-white shadow-2xl rounded-2xl content-center items-center cursor-pointer hover:shadow-none hover:bg-blue-50 ">
                    <img src="assets/imagen/perfil/dollar.png" alt="" class="w-10 h-10">
                    <h4 class="font-bold text-dark-300 text-sm mt-1">Cuenta</h4>
                </a>
            </div>

            <div>

                <img src="assets/imagen/perfil/e/1.jpg" alt="">

            </div>

            <div>

            </div>

        </div>

    </div>
</div>